extends ../layouts/default

block css
	link(rel="stylesheet", href="/styles/style.css")

block content
	div.content
		nav(class="navbar navbar-default")
			a(class="navbar-brand", href="#") Food Delivery App
			button(id="btn-login", class="btn btn-primary btn-margin") Log In
			button(id="btn-checkout", class="btn btn-primary btn-margin", data-toggle="modal", data-target="#checkoutModal") Checkout
			button(id="btn-logout", class="btn btn-primary btn-margin") Log Out

		<!-- Error view -->
		div(class="alert alert-success", role="alert", id="alert-success", style="display: none;")
		div(class="alert alert-danger", role="alert", id="alert-danger", style="display: none;")

		<!-- Modal View -->
		div(class="modal fade", id="checkoutModal", tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
			div.modal-dialog(role="document")
				div.modal-content
					div.modal-header
						h5(class="modal-title", id="exampleModalLabel") Order Summary
						button(type="button", class="close", data-dismiss="modal", aria-label="Close")
							span(aria-hidden="true") &times;
					div.modal-body
						table.table
							thead
								tr
									th(scope="col") Meal
									th(scope="col") Quantity
							tbody(id="receipt-body")
					div.modal-footer
						button(type="button", class="btn btn-secondary", data-dismiss="modal") Close
						button(type="button", class="btn btn-primary", id="btn-order") Place Order

		<!-- Promotional message -->
		p.promo-message Order Your Meal And Get It Delivered ASAP
		main.container
			<!-- menu view -->
			div#menu-view

block js
	script(src="https://cdn.auth0.com/js/auth0/9.10/auth0.min.js")
	script(src="/js/app.js")
